body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

h1{
    color: white;
    display: inline-block;
}

img {
    width: 100%;
}

.img_error {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.grid-item, .grid-sizer {
    width:  25%;
}

.grid-item {
    float: left;
    height: 220px;
    border-radius: 5px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.input-container {
    margin-top: 100px;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.input-container input {
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin-bottom: 30px;
}

.content {
   margin-top: 20px;
}








